.firstTarget {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 35px;
    width: 328px;
    height: 288px;
    background: #FFFFFF;
}

.bag {
    width: 72px;
    height: 72px;
    left: 128px;
    top: 35px;
    flex: none;
    margin: -10px 0;
}

.text6 {
    width: 100%;
    height: 24px;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #252B42;
    margin: 20px 0;
}

.TargetLine {
    position: static;
    width: 50px;
    height: 2px;
    left: 139px;
    top: 171px;
    background: #E74040;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0 0;
}

.text7 {
    position: static;
    width: 136px;
    height: 60px;
    left: 96px;
    top: 193px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #737373;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 15px 0;
}
