.signUpSignIn {
    margin-left: 700px;
    display: flex;
    flex-direction: row;
    width: 420px;
    height: 100px;
    align-items: center;
}

.signIn{
    width: 70px;
    height: 30px;
    margin-right: 50px;
}

.singUp{
    width: 178px;
    height: 52px;
}

.signIn input{
    font-family: 'Montserrat', sans-serif;
    width: 70px;
    height: 30px;
    border: 1px black;
    border-radius: 12px;
    background: #8D5CF6;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;

}

.singUp input {
    font-family: 'Montserrat', sans-serif;
    width: 178px;
    height: 52px;
    background: #8D5CF6 url(#) no-repeat 141px;
    font-weight: bold;
    border: 1px black;
    font-size: 14px;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
}