.blocks {
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    padding-bottom: 55px;
    margin-right: fill;
}

.block {
    height: 230px;
    width: 230px;
    margin-right: 20px;
    background: rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    backdrop-filter: blur(24px);
}

.block:nth-child(3), .block:nth-child(5) {
    margin-right: 0;
}

.block:nth-child(-n+3) {
    margin-top: 0;
}

.green_circle {
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-color: #2DC071;
    border: 5px solid rgba(45, 192, 113, 0.25);
    margin-top: 23px;
    margin-left: 23px;
    background-clip: padding-box;
}

.purple_circle {
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-color: #8D5CF6;
    border: 5px solid rgba(141, 92, 246, 0.25);
    margin-top: 23px;
    margin-left: 23px;
    background-clip: padding-box;
}

.orange_circle {
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-color: #E77C40;
    border: 5px solid rgba(231, 124, 64, 0.25);
    margin-top: 23px;
    margin-left: 23px;
    background-clip: padding-box;
}

.yellow_circle {
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-color: #F3CD03;
    border: 5px solid rgba(243, 205, 3, 0.25);
    margin-top: 23px;
    margin-left: 23px;
    background-clip: padding-box;
}

.blue_circle {
    height: 45px;
    width: 45px;
    border-radius: 100px;
    background-color: #8EC2F2;
    border: 5px solid rgba(142, 194, 242, 0.25);
    margin-top: 23px;
    margin-left: 23px;
    background-clip: padding-box;
}

.text {
    margin-left: 33px;
    margin-top: 8px;
    font-weight: bold;
}

.number {
    font-size: 40px;
}

.category_titles {
    font-size: 20px;
    margin-top: 55px;
}