.functions{
    padding-top: 30px;
    margin-left: 784px;
}
.functions a{
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
.functions a:last-child{
    margin-left: 35px;
    text-decoration: underline;
    color: #DDF4FF;
}
.functions a:hover{
    text-decoration: underline;
    color: #DDF4FF;
}